body {
    background: url("../images/monet-waterlillies.jpg");
}
#composer-name,
#years-lived,
#piece,
#performer {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 32px;
}
#last-letter {
    font-size: 20px;
}
#win-lose-message {
    font-weight: bold;
}
